name: car-demo-common-service

on:
  push:
    branches: [ main ]
env:
  AKS_CLUSTER: ntdemocluster
  AKS_NAMESPACE: default

jobs:
  setup-build-publish-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
          cache: maven
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Azure CLI script
        uses: azure/CLI@v1
        with:
          azcliversion: 2.30.0
          inlineScript: |
            az account show
            az storage -h
      - name: Build, Publish, and Deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          . az-svc-deployment.sh
